@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&family=Nunito:wght@400;500;700&display=swap');


@theme {
  /* Primitive Tokens*/

  --color-purple-50: #f4f2ff;
  --color-purple-100: #e9e8ff;
  --color-purple-200: #d6d4ff;
  --color-purple-300: #b9b1ff;
  --color-purple-400: #9685ff;
  --color-purple-500: #7858ff;
  --color-purple-600: #6230f7;
  --color-purple-700: #551ee3;
  --color-purple-800: #4618bf;
  --color-purple-900: #3b169c;
  --color-purple-950: #220b6a;

  --color-pink-50: #fef1f7;
  --color-pink-100: #fee5f0;
  --color-pink-200: #fecce3;
  --color-pink-300: #ffa2cb;
  --color-pink-400: #fe68a6;
  --color-pink-500: #f83c85;
  --color-pink-600: #e81a60;
  --color-pink-700: #ca0c47;
  --color-pink-800: #a70d3b;
  --color-pink-900: #8b1034;
  --color-pink-950: #55021a;

  --color-orange-50: #fff6eb;
  --color-orange-100: #ffecd0;
  --color-orange-200: #fed4a1;
  --color-orange-300: #feb565;
  --color-orange-400: #fd8927;
  --color-orange-500: #f76702;
  --color-orange-600: #e45004;
  --color-orange-700: #bb3a05;
  --color-orange-800: #941d0c;
  --color-orange-900: #77280d;
  --color-orange-950: #411104;

  --color-neutral-50: #fefefe;
  --color-neutral-100: #f6f6f6;
  --color-neutral-200: #e7e7e7;
  --color-neutral-300: #d1d1d1;
  --color-neutral-400: #b0b0b0;
  --color-neutral-500: #888888;
  --color-neutral-600: #6d6d6d;
  --color-neutral-700: #5d5d5d;
  --color-neutral-800: #454545;
  --color-neutral-900: #3d3d3d;
  --color-neutral-950: #292929;

  --color-green-50: #edfcf5;
  --color-green-100: #d3f8e4;
  --color-green-200: #aceece;
  --color-green-300: #75e0b3;
  --color-green-400: #3dca92;
  --color-green-500: #1aaf7a;
  --color-green-600: #0d875e;
  --color-green-700: #0b7151;
  --color-green-800: #0b5a42;
  --color-green-900: #0a4a37;
  --color-green-950: #042a20;

  --color-yellow-50: #fefce8;
  --color-yellow-100: #fef9c3;
  --color-yellow-200: #feef8a;
  --color-yellow-300: #fcdf48;
  --color-yellow-400: #f9ca16;
  --color-yellow-500: #f1b709;
  --color-yellow-600: #c98905;
  --color-yellow-700: #a16107;
  --color-yellow-800: #854c0e;
  --color-yellow-900: #713e12;
  --color-yellow-950: #422006;

  --color-red-50: #fef3f2;
  --color-red-100: #fee4e2;
  --color-red-200: #fecdca;
  --color-red-300: #fbaba6;
  --color-red-400: #f77b72;
  --color-red-500: #ec3e32;
  --color-red-600: #db3327;
  --color-red-700: #b8271d;
  --color-red-800: #98241c;
  --color-red-900: #7e241e;
  --color-red-950: #450e0a;

  --color-white: #ffffff;
  --color-black: #0e0e0e;

  --color-gradient-brand: linear-gradient(90deg, #f76702 0%, #f83c85 50%, #7858ff 100%);

  /* Semantic Tokens */

  --color-background-light: #fefefe;
  --color-background-dark: #292929;
  --color-background-footer: #e9e8ff;

  --color-foreground: #292929;

  --color-primary: #7858ff;
  --color-primary-hover: #e9e8ff;

  --color-secondary: #f83c85;
  --color-secondary-hover: #fee5f0;

  --color-tertairy: #f76702;
  --color-tertairy-hover: #ffecd0;

  --color-accent: #7858ff;
  --color-success: #0d875e;
  --color-warning: #f1b709;
  --color-error: #db3327;

  --color-muted: #888888;
  --color-disabled: #e7e7e7;
  --color-border: #fefefe;

  /* Components Tokens */

  /* Buttons */
  --color-button-primary-primary-bg-default: #7858ff;
  --color-button-primary-primary-bg-hover: #e9e8ff;
  --color-button-primary-primary-bg-focus: #7858ff;
  --color-button-primary-primary-text: #ffffff;
  --color-button-primary-primary-text-hover: #0e0e0e;

  --color-button-secondary-primary-bg-default: #fefefe;
  --color-button-secondary-primary-bg-hover: #e9e8ff;
  --color-button-secondary-primary-bg-focus: #fefefe;
  --color-button-secondary-primary-text: #0e0e0e;
  --color-button-secondary-primary-border: #7858ff;

  --color-button-primary-secondary-bg-default: #f83c85;
  --color-button-primary-secondary-bg-hover: #fee5f0;
  --color-button-primary-secondary-bg-focus: #7858ff;
  --color-button-primary-secondary-text: #0e0e0e;

  --color-button-secondary-secondary-bg-default: #fefefe;
  --color-button-secondary-secondary-bg-hover: #fee5f0;
  --color-button-secondary-secondary-bg-focus: #fefefe;
  --color-button-secondary-secondary-text: #0e0e0e;
  --color-button-secondary-secondary-border: #f83c85;

  --color-button-primary-tertairy-bg-default: #f76702;
  --color-button-primary-tertairy-bg-hover: #ffecd0;
  --color-button-primary-tertairy-bg-focus: #f76702;
  --color-button-primary-tertairy-text: #0e0e0e;

  --color-button-secondary-tertairy-bg-default: #fefefe;
  --color-button-secondary-tertairy-bg-hover: #ffecd0;
  --color-button-secondary-tertairy-bg-focus: #fefefe;
  --color-button-secondary-tertairy-text: #0e0e0e;
  --color-button-secondary-tertairy-border: #f76702;

  --color-button-disabled-bg: #e7e7e7;
  --color-button-disabled-text: #6d6d6d;
  --color-button-disabled-border: #d1d1d1;

  --color-button-bg-gradient: var(--color-gradient-brand);
  /* To use it for example in the navbar button (which is the case for now) this is the way to apply it in the className "bg-[image:var(--color-button-bg-gradient)]"

  /* Toggle */
  --color-toggle-bg-default: #f5f5f5;
  --color-toggle-bg-hover: #e9e8ff;
  --color-toggle-bg-active: #7858ff;
  --color-toggle-bg-disabled: #d1d1d1;

  --color-toggle-text-default: #0e0e0e;
  --color-toggle-text-active: #ffffff;
  --color-toggle-text-disabled: #6b6b6b;

  --color-toggle-border-default: #d1d1d1;
  --color-toggle-border-active: #7858ff;
  --color-toggle-border-focus: #7858ff;

  /* Navigation menu */
  --color-navigationmenu-label: #0e0e0e;
  --color-navigationmenu-hover: #7858ff;
  --color-navigationmenu-current-underline: #0e0e0e;
  --color-navigationmenu-focus-outline: #b9b1ff;
  --color-navigationmenu-container-bg: transparent;

  /* =Header */
  --color-header-bg: #fefefe;
  --color-header-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);

  /* Avatar */
  --color-avatar-default-bg: #7858ff;
  --color-avatar-default-disabled: #6d6d6d;
  --color-avatar-default-text: #ffffff;
  --color-avatar-default-border-focus: #b9b1ff;

  --color-avatar-primary-variant-bg: #e9e8ff;
  --color-avatar-primary-variant-border-focus: #b9b1ff;

  --color-avatar-secondary-variant-bg: #fee5f0;
  --color-avatar-secondary-border-focus: #ffa2cb;

  --color-avatar-tertairy-variant-bg: #ffecd0;
  --color-avatar-tertairy-variant-border-focus: #feb565;

  --color-avatar-variant-text: #0e0e0e;
  --color-avatar-variant-disabled: #e7e7e7;

  /* Card */
  --color-card-white-bg-default: #ffffff;
  --color-card-white-bg-hover: #fefefe;
  --color-card-white-icon: #7858ff;
  --color-card-white-title: #0e0e0e;
  --color-card-white-text: #6d6d6d;

  --color-card-clickable-purple-bg-default: #b9b1ff;
  --color-card-clickable-purple-bg-hover: #d6d4ff;

  --color-card-non-clickable-purple-bg: #7858ff;
  --color-card-non-clickable-purple-text: #ffffff;
  --color-card-non-clickable-purple-icon: #0e0e0e;

  --color-card-non-clickable-light-purple-bg: #d6d4ff;
  --color-card-non-clickable-light-purple-text: #0e0e0e;
  --color-card-non-clickable-light-purple-icon: #7858ff;

  --color-card-bg-disabled: #e7e7e7;

  --color-card-shadow-default: 0px 4px 16px rgba(0, 0, 0, 0.08);
  --color-card-shadow-hover: 0px 4px 16px rgba(0, 0, 0, 0.16);

  /* Image Placeholder */
  --color-image-container-bg: #d6d4ff;
  --color-image-stroke-icon: #6230f7;

  /* Footer */
  --color-footer-bg: #e9e8ff;

  /* Text Link */
  --color-textlink-default: #7858ff;
  --color-textlink-hover: #4618bf;
  --color-textlink-hover-underline: #4618bf;
  --color-textlink-focus: #7858ff;
  --color-textlink-focus-outline: #b9b1ff;
  --color-textlink-active: #0e0e0e;
  --color-textlink-visited: #220b6a;

  /* Icons */
  --color-icon-default: #292929;
  --color-icon-hover: #e9e8ff;

  /* Accordion */
  --color-accordion-bg-default: #ffffff;
  --color-accordion-text: #0e0e0e;
  --color-accordion-header-border-default: #d1d1d1;
  --color-accordion-focus-area: #b9b1ff;

  /* Timeline */
  --color-timeline-line: #d1d1d1;
  --color-timeline-dot: #7858ff;
  --color-timeline-heading-text: #0e0e0e;
  --color-timeline-day-label-text: #6d6d6d;
  --color-timeline-description-text: #0e0e0e;

  /* Carousel */
  --carousel-bg: #ffffff;
  --carousel-text-main: #6d6d6d;
  --carousel-text-sub: #0e0e0e;
  --carousel-text-highlight: #7858ff;

  --carousel-dot-default: rgba(14, 14, 14, 0.2);
  --carousel-dot-active: #0e0e0e;

  --carousel-arrow-default: #0e0e0e;
  --carousel-arrow-disabled: #e7e7e7;

  --font-sans: 'Ubuntu', sans-serif;
  --font-alt: 'Nunito', sans-serif; 

    /*Font Size*/
  --text-size-1000: 60px;
  --text-size-900: 48px;
  --text-size-800: 36px;
  --text-size-700: 30px;
  --text-size-600: 24px;
  --text-size-500: 20px;
  --text-size-400: 18px;
  --text-size-300: 16px;
  --text-size-200: 14px;
  --text-size-100: 12px;

  /*Line Height*/
  --spacing-line-height-heading-1: 72px;
  --spacing-line-height-heading-2: 60px;
  --spacing-line-height-heading-3: 44px;
  --spacing-line-height-heading-4: 36px;
  --spacing-line-height-heading-5: 28px;
  --spacing-line-height-heading-6: 24px;

  --spacing-line-height-body-1: 32px;
  --spacing-line-height-body-2: 28px;
  --spacing-line-height-body-3: 24px;

  --spacing-line-height-label-1: 24px;
  --spacing-line-height-label-2: 20px;
  --spacing-line-height-label-3: 16px;
  --spacing-line-height-label-4: 12px;

  /*Font Weight*/
  --font-weight-default: 400;
  --font-weight-medium: 500;
  --font-weight-heavy: 700;

}

/* styling for CTA links  */

 @layer components {
  .link-inline {
    @apply text-[var(--color-purple-500)] underline underline-offset-2 decoration-1
           hover:text-[var(--color-purple-600)]
           focus:outline focus:outline-2 focus:outline-[var(--color-purple-200)] focus:outline-offset-2
           active:text-[var(--color-neutral-900)] visited:text-[var(--color-purple-700)]
           transition-colors duration-200 px-1 py-2 inline-block;
  }

  .link-standalone {
    @apply text-[var(--color-purple-500)]
           hover:underline hover:text-[var(--color-purple-600)]
           focus:outline focus:outline-2 focus:outline-[var(--color-purple-200)] focus:outline-offset-2
           active:text-[var(--color-neutral-900)] visited:text-[var(--color-purple-950)]
           transition-colors duration-200 inline-flex items-center justify-center gap-1 min-h-[44px] px-2;
  }
}
